@import '@fortawesome/fontawesome-free/css/all.css';

body {
  background-color: #282c34;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  background-color: #3c3f41;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #61dafb;
  cursor: pointer;
}

button:hover {
  background-color: #21a1f1;
}
